body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1, h5 {
    font-weight: 300;
}

.color-container {
    display: flex;
    width: 90%;
    margin: 10px;
}

.color-box {
    flex: 1; 
    height: 150px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.3s ease;
}

.color-box:hover {
    transform: scale(1.1);
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}